# Exclude large or unnecessary files
*.deb
*.parquet
*.csv
*.log
*.zip
*.tar.gz
*.pkl
*.sqlite
*.db

# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
